.swiper-pagination {
	margin-right: 10px;
	display: flex !important;
	position: static !important;
}

.swiper-pagination-bullet {
	background: #fff !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 15px !important;
	height: 15px !important;
	border-radius: 50% !important;
	border: 1px solid #000000 !important;

	&::before {
		content: "" !important;
		display: block !important;
		border-radius: 50% !important;
		background-color: var(--accent-two) !important;
		width: 8px !important;
		height: 8px !important;
	}
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	&--active {
		padding: 2px !important;
		border: 1px solid #000 !important;
	}
}